.Like {
    padding: 0;
    border: none;
    background: none;
    color:green;
    font-size: 5em;
    margin: 20px;
    cursor:pointer;
    /* border-radius: 80%;
    box-shadow: 0 2px 3px 0 rgba(0,0,1,0.5); */
}

.Nope {
    padding: 0;
    border: none;
    background: none;
    color: red;
    font-size: 5em;
    margin: 20px;
    cursor:pointer;
    /* border-radius: 80%;
    box-shadow: 0 1px 2px 0 rgba(0,0,1,0.5); */
}