.Like {
    padding: 0;
    border: none;
    background: none;
    color:green;
    font-size: 5em;
    margin: 20px
}

.Nope {
    padding: 0;
    border: none;
    background: none;
    color: red;
    font-size: 5em;
    margin: 20px
}